/* General Styles */

body {
    color:white;
    font-family: tahoma;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-image: url("/images/dash_back.jpg");
  }

   
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	color:white
	/* background-color: #333; */
}
header img{
	width: 100px;
	height: 100px;
	padding-left: 4%;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul p{
	font-size: 25px;
	font-style: tahoma, verdana;
	color: rgb(108, 99, 99);
	margin-left: -300px;
  margin-right: 100px;
}

nav li {
	margin-right: 1em;
}

nav a {
	display: flex;
	padding: 20px 32px;
	border: 0;
	text-decoration: none;
  font-family: tahoma;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.1);
	border: 1px solid rgba(255,255,255,0.1);
	backdrop-filter: blur(30px);
	color: rgba(255,255,255,0.8);
	font-size: 14px;
	letter-spacing: 2px;
	cursor: pointer;
	text-transform: uppercase;
	
  }
 
nav a:hover {
	background-color: rgba(255,255,255,0.2);
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #DDD;
    border-radius: 5px;
    resize: vertical;
  }
  
  button[type="submit"] {
    display: inline-block;
	padding: 10px 15px;
	border: 0;
	text-decoration: none;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.1);
	border: 1px solid rgba(255,255,255,0.1);
	backdrop-filter: blur(30px);
	color: rgba(255,255,255,0.8);
	font-size: 14px;
	letter-spacing: 2px;
	cursor: pointer;
	text-transform: uppercase;
  }
  
  button[type="submit"]:hover {
    background-color: rgba(255,255,255,0.2);
  }
  
  #topic-list {
    margin-top: 20px;
  }
  
  .topic {
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .topic h2 {
    margin-top: 0;
  }
  
  .topic p {
    margin-bottom: 0;
    margin-top: 10px;
  }
  
  .topic a {
    display: inline-block;
    margin-top: 10px;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .container::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Style for discussion topics */
  .topics h3{
    color:lightyellow;
    font-size: 23px;
  }

  .topics {
  display: flexbox;
	padding: 10px 15px;
	border: 0;
	text-decoration: none;
	border-radius: 1px;
	background-color: rgba(255,255,255,0.1);
	border: 1px solid rgba(255,255,255,0.1);
	backdrop-filter: blur(30px);
	color: rgba(255,255,255,0.8);
	font-size: 14px;
	letter-spacing: 2px;
	cursor: pointer;
	text-transform: uppercase;
  }

  .topics:hover {
    background-color: rgba(255,255,255,0.2);
  }
  
  /* Footer Styles */
  
  footer {
    /* background-color: #333; */
    color: #fff;
    padding: 1em;
    border: 1px dashed rgba(255,255,255,0.2);
  }
  
  .footer-container {
    margin-left: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-container p {
    margin: 0;
  }
  
  .footer-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-container li {
    margin: 0 1em;
  }
  
  .footer-container li a {
    color: #fff;
  }
  
  