/* Global Styles */

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background-image: url("/images/dash_back.jpg");
}

a {
	color: #fff;
	text-decoration: none;
}
header {
	/* background-color: #222; */
	color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

nav li {
	list-style: none;
	margin: 0 20px;
}

nav a {
	font-size: 1.2em;
}

main {
	padding: 20px;
}
main h2{

	text-align: left;
	width:100%;
	padding: 24px 500px;
	border: 0;
	text-decoration: none;
	border-radius: 10px;
	color: rgba(255,255,255);
	font-size: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 25px;
}

h2 {
	margin-top: 0;
}


.sidenav {
	background-image: url("/images/dash_back.jpg");
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
	color:white;
  }
  
  .sidenav a {
    padding: 14.5px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: rgba(255,255,255,0.2);
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    margin-left: 10px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .container {
	color:white;
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

.open_books{
	margin-bottom: 100px;
	margin-left: 450px;
	text-align: center;
	display: inline-block;
	padding: 10px 18px;
	border: 0;
	text-decoration: none;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.1);
	border: 1px solid rgba(255,255,255,0.1);
	backdrop-filter: blur(30px);
	color: rgba(255,255,255,0.8);
	font-size: 20px;
	letter-spacing: 2px;
	cursor: pointer;
	text-transform: uppercase;
}

/* Resources Page Styles */

.resource-list {
	display: inline-table;
	padding: 25px 500px;
	border: 0;
	text-decoration: none;
	border-radius: 1px;
	/* background-color: rgba(255,255,255,0.1); */
	/* border: 1px solid rgba(255,255,255,0.1); */
	backdrop-filter: blur(30px);
	color: rgba(255,255,255,0.8);
	font-size: 16px;
	letter-spacing: 2px;
	cursor: pointer;
	text-transform: uppercase;
}

.resource-list li {
	margin-bottom: 40px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}

.resource-list li h3 {
	margin-right: 1000px;
	margin-left: 1000px;
	margin-inline-start: -450px;
}

.resource-list p {
	margin-top:-50px;
	margin-right: -100px;
}
footer{
	color:white;
	text-align: center;
	border: 1px dashed rgba(255,255,255,0.1);
}

/* Responsive Styles */

@media (max-width: 768px) {
	main {
		max-width: 600px;
		margin: 0 auto;
	}
}
     