body{
    position: relative;
    overflow: hidden;
    background: #6941C6;
}

h1{

position: absolute;
width: 493px;
height: 107px;
left: 82px;
top: 82px;

margin-top: 0;
/* Text */

font-family: Lexend;
font-style: normal;
font-weight: 800;
font-size: 75px;
line-height: 94px;

color: #FFFFFF;
}

#learnButton {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 40px;
gap: 8px;

position: absolute;
width: 378px;
height: 96px;
left: 70px;
top: 600px;

background: #FFFFFF;
border-radius: 48.4245px;
border: none;

font-family: 'Lexend';
font-style: normal;
font-weight: 700;
font-size: 38.4057px;
line-height: 48px;
text-align: center;
color: #A259FF;
}

.rectangle186-rectangle186 {
    width: 1110px;
    height: 1066px;
    opacity: 0.60;
    position: relative;
    border-color: transparent;
  }
  .rectangle186-dummy-container {
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 900px;
  }
 


  
