<!DOCTYPE html>
<html>
  <head>
    <title>About Us - HiveMind</title>
    <link rel="stylesheet" href="/css/AboutUs.css">
    <link rel="icon" href="/images/logo.jpg" type="image/x-icon">
  </head>
  <body>
    <header>
      <a href="/"><img src="/images/logo.jpg"></a>
      <nav>
        <ul>
          <li><a href="/ContactUs">Contact Us</a></li>
          <li><a href="/Login">Login</a></li>
          <li><a href="/SignUp">Sign Up</a></li>
        </ul>
      </nav>
    </header>
    
    <main>
      <div>
      <h1>About Us</h1>
      <p>We are a group of four students studying in IIIT Dharwad in the Data Science and AI branch. We are currently working on a software engineering and database management project under Manjunath Sir and Utkarsh Sir.</p>
      </div>
      <div class="developers">
        
        <h2>Meet the Developers</h2>
        <a href="https://www.linkedin.com/in/priyesh-gupta-bb2949b9/">
        <div class="developer">
          <img src="/images/priyesh.jpg" alt="Priyesh Gupta">
          <h3>Priyesh Gupta</h3>
          <p>Full Stack Developer</p>
        </div>
        </a>
        <a href="https://www.linkedin.com/in/vinayak-rai-44773b159/">
        <div class="developer">
          <img src="/images/vinni.jpg" alt="Vinayak Rai">
          <h3>Vinayak Rai</h3>
          <p>Frontend Developer</p>
        </div>
        </a>
        <a href="https://www.linkedin.com/in/aarsh-desai-499194175/">
        <div class="developer">
          <img src="/images/aarsh.jpg" alt="Aarsh Desai">
          <h3>Aarsh Desai</h3>
          <p>Full Stack Developer</p>
        </div>
        </a>
        <a href="https://www.linkedin.com/in/n-v-j-k-kartik-95283823b/">
        <div class="developer">
          <img src="/images/kartik.jpg" alt="NVJK Kartik">
          <h3>NVJK Kartik</h3>
          <p>Backend Developer</p>
        </div>
      </a>
      </div>
      
    </main>

    <footer>
      <div class="footer-container">
        <p>&copy; 2023 HiveMind. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
