<!DOCTYPE html>
<html>
  <head>
    <title>About Us - HiveMind</title>
    <link rel="stylesheet" href="/css/AboutUs.css">
  </head>
  <body>
    <header>
      <a href="/"><img src="/images/logo.jpg"></a>
      <h1> HiveMind </h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/SignUp">Sign Up</a></li>
          <li><a href="/Profile">Profile</a></li>
          <li><a href="/html/ContactUs.html">Contact</a></li>
          <li><a href="/html/Settings.html">Settings</a></li>
        </ul>
      </nav>
    </header>
    
    <main>
      <div>
      <h1>About Us</h1>
      <p>We are a group of four students studying in IIIT Dharwad in the Data Science and AI branch. We are currently working on a software engineering and database management project under Manjunath Sir and Utkarsh Sir.</p>
      </div>
      <div class="developers">
        <h2>Meet the Developers</h2>
        <div class="developer">
          <img src="/images/priyesh.jpg" alt="Priyesh Gupta">
          <h3>Priyesh Gupta</h3>
          <p>Frontend Developer</p>
        </div>
        <div class="developer">
          <img src="/images/vinayak.jpg" alt="Vinayak Rai">
          <h3>Vinayak Rai</h3>
          <p>Frontend Developer</p>
        </div>
        <div class="developer">
          <img src="/images/aarsh.jpg" alt="Aarsh Desai">
          <h3>Aarsh Desai</h3>
          <p>Backend Developer</p>
        </div>
        <div class="developer">
          <img src="/images/kartik.jpg" alt="NVJK Kartik">
          <h3>NVJK Kartik</h3>
          <p>Backend Developer</p>
        </div>
      </div>
      
    </main>

    <footer>
      <div class="footer-container">
        <p>&copy; 2023 HiveMind. All rights reserved.</p>
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
