<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>Google Books Embedded Viewer API Example</title>
  	<link rel="stylesheet" type="text/css" href="/css/pdf_viewer.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">

  <script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
    <script type="text/javascript">
      google.books.load();
      function initialize() {
        var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
        var index = document.URL.indexOf('?');
        if (index > 0) {
            var bookIsbn = document.URL.substring(index, document.URL.length).split("=")[1]
            console.log(bookIsbn);
        }
        //viewer.load('ISBN:0738531367'); //for test purpose
        viewer.load('ISBN:'+bookIsbn);
      }
      google.books.setOnLoadCallback(initialize);
    </script>   

  </head>
  <script src="https://webgazer.cs.brown.edu/webgazer.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
    <script>
      var audio = new Audio("../../../images/Pols Aa Gayi Pols.mp3")
      webgazer.setGazeListener(function(data, elapsedTime) {
      if (data == null) {
        return;
      }
      var xprediction = data.x; //these x coordinates are relative to the viewport
      var yprediction = data.y; //these y coordinates are relative to the viewport
      if (yprediction < 0 || xprediction < 0 || xprediction > 1710) {
        audio.play();
      };
      webgazer.showPredictionPoints(false);
    }).begin();
    function toggleCE(){
      var button = document.getElementById("CE-toggle");
        if (button.innerText === "Disable Concentration Enhancer") {
          webgazer.pause();
          button.innerText = "Enable Concentration Enhancer";
        } else {
          webgazer.resume();
          button.innerText = "Disable Concentration Enhancer";
        }
      }
    </script>
  <nav>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/"><i class="fa fa-fw fa-home"> </i>Home</a>
      <a href="/Resources"><i class="fa fa-fw fa-envelope"></i>Resources</a>
      <a href="/ContactUs"><i class="fa fa-fw fa-user"></i>Contact Us</a>
      <a href="/Uploaded"><i class="fa fa-fw fa-search"></i>Uploaded Material</a>
      <a href="/Resources"><i class="fa fa-fw fa-envelope"></i>Resources</a>
      <a href="/Discussion"><i class="fa fa-fw fa-user"></i>Discussion</a>
    </div>
    
    <div class="container" onclick="openNav()">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <p>MENU</p>
    </div>
  </nav>
  <body style="background-image:url('/images/dash_back.jpg')">
    <script src="https://webgazer.cs.brown.edu/webgazer.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
    <script>
      var audio = new Audio("../../../images/Pols Aa Gayi Pols.mp3")
      webgazer.setGazeListener(function(data, elapsedTime) {
      if (data == null) {
        return;
      }
      var xprediction = data.x; //these x coordinates are relative to the viewport
      var yprediction = data.y; //these y coordinates are relative to the viewport
      if (yprediction < 0 || xprediction < 0 || xprediction > 1710) {
        audio.play();
      };
      webgazer.showPredictionPoints(false);
    }).begin();
    function toggleCE(){
      var button = document.getElementById("CE-toggle");
        if (button.innerText === "Disable Concentration Enhancer") {
          webgazer.pause();
          button.innerText = "Enable Concentration Enhancer";
        } else {
          webgazer.resume();
          button.innerText = "Disable Concentration Enhancer";
        }
      }
    </script>
  <nav>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/"><i class="fa fa-fw fa-home"> </i>Home</a>
      <a href="/Resources"><i class="fa fa-fw fa-envelope"></i>Resources</a>
      <a href="/ContactUs"><i class="fa fa-fw fa-user"></i>Contact Us</a>
      <a href="/Uploaded"><i class="fa fa-fw fa-search"></i>Uploaded Material</a>
      <a href="/Resources"><i class="fa fa-fw fa-envelope"></i>Resources</a>
      <a href="/Discussion"><i class="fa fa-fw fa-user"></i>Discussion</a>
    </div>
    
    <div class="container" onclick="openNav()">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <p>MENU</p>
    </div>
  </nav>
    <div class="container" style="margin-left: 400px; margin-top: 50px;">
      <div class="text-center" id="viewerCanvas" style="width: 1000px; height: 710px; "></div>
    </div>
    <div id="notepad-container" class="notepad-container_closed">
      <div id="notepad" class="notepad" style="width:250px; height:150px;margin-bottom:400px;"></div>
    </div>
    <div id="notepad-toolbar" class="notepad-toolbar">
      <button id="CE-toggle" class="CE-toggle" onclick="toggleCE()">Disable Concentration Enhancer</button>
      <button id="notepad-toggle" class="notepad-toggle" onclick="toggleNotepad()">Toggle Notepad</button>
      <button id="save-button" class="save-button" onclick="downloadNotes()">Save</button>
    </div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">   
    <style>
      #notepad-container{
        color: black;
        background-color: rgb(255, 255, 255);
        margin-top: -400px;
        margin-left: 0px;
        width : 250px;
        height :200px;
      }
  #notepad-toggle {
    background-color: blue;
    color: white;
  }
      #notepad-toolbar {
      display: flex;
      flex-direction: column;
      width:19.5%;
      margin-bottom: 135px;
      margin-left: 110px;
      position: fixed;  
      transform: translateX(-50%); 
      bottom: 20px;     
      z-index: 9999;
    } 
    </style>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
       var notepadVisible = document.getElementById("notepad-container");
       function toggleNotepad(){
    if (notepadVisible.style.display === "none") {
      notepadVisible.style.display = "block";
    } else {
      notepadVisible.style.display = "none";
    }
  }
      var quill = new Quill("#notepad", {
        modules: {
          toolbar: [
            [{ header: [1, 2, false] }],
            ["bold", "italic", "underline"],
            ["image", "code-block"],
            ["notepad-save"]
          ],
        },
        placeholder: "Take some notes...",
        theme: "snow",
      });
  
    function downloadNotes() {
    var notes = quill.getText(); // Get the text from the notepad
    var blob = new Blob([notes], {type: "text/plain;charset=utf-8"}); // Create a blob with the text
    saveAs(blob, "notes.txt"); // Use FileSaver.js to download the blob as a txt file
  }
    </script>  
    <footer>
      <p>&copy; 2023 HiveMind. All Rights Reserved.</p>
    </footer>
  
      <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        
        function myFunction(x) {
          x.classList.toggle("change");
        }
      </script>
  </body>
</html>