<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HiveMind Dashboard</title>
	<link rel="stylesheet" href="/css/Dashboard.css">
	<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
</head>
<body>
	<header>
		<a href="/"><img src="/images/logo.jpg" style='width:100px;height:100px;'></a>
		<nav>
			<ul>
				<li><a href="/Discussion">Discussion</a></li>
				<li><a href="/Uploaded">Uploaded Material</a></li>
				<li><a href="/Quiz">Give a Quiz</a></li>
				<li><a href="/Resources">Resources</a></li>
				<li><a href="/Profile">Profile</a></li>
				<li><a href="/Settings">Settings</a></li>
				<li><a href="/Logout">Logout</a></li>

			  </ul>
		</nav>
	</header>
	<main>
		<section class="overview">
			<div>
				<h2>Welcome to your Dashboard</h2>
				<p>Here's an overview of your progress and activity on HiveMind.</p>
			</div>
			<div>
				<h3>Study Time</h3>
				<p>You've spent <span>30 hours</span> studying on HiveMind this week.</p>
			</div>
			<div>
				<h3>Quizzes</h3>
				<p>You've completed <span>5 quizzes</span> this week.</p>
			</div>
			<div>
				<h3>Study Materials</h3>
				<p>You've uploaded <span>10 study materials</span> this week.</p>
			</div>
		</section>

		<div class="charts">
			<canvas id="myChart" style="width:100%;max-width:750px"></canvas>
			<canvas id="pieChart" style="width:100%;max-width:750px"></canvas>
		</div>

		<section class="quiz-history">
			<h2>Quiz History</h2>
			<p>Here are the quizzes you've completed on HiveMind:</p>
			<table>
				<thead>
					<tr>
						<th>Quiz Name</th>
						<th>Date</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Physics Quiz 1</td>
						<td>March 10, 2023</td>
						<td>80%</td>
					</tr>
					<tr>
						<td>History Quiz 1</td>
						<td>March 8, 2023</td>
						<td>90%</td>
					</tr>
					<tr>
						<td>Computer Science Quiz 1</td>
						<td>March 6, 2023</td>
						<td>75%</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section class="study-group">
			<h2>Study Group</h2>
			<p>Here are the study groups you've joined on HiveMind:</p>
			<ul>
				<a href="https://discord.com/channels/1067171201631387799/1067171201631387802"><li>Group 1 - Topic: Physics</li></a>
				<a href="https://discord.com/channels/1067171201631387799/1067172383074549922"><li>Group 2 - Topic: History</li></a>
				<a href="https://discord.com/channels/1067171201631387799/1067172383074549922"><li>Group 3 - Topic: Computer Science</li></a>
			</ul>
		</section>

	</main>
	<footer>
		<p>&copy; 2023 HiveMind. All rights reserved.</p>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="/javascript/dashboard.js"> </script>
</body>
</html>
