<!DOCTYPE html>
<html>
  <head>
    <title>PDF Viewer - HiveMind</title>
    <link rel="stylesheet" href="/css/pdf.css">
  </head>
  
  <body>
    <header>
      <nav>
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/html/HomePage.html"><i class="fa fa-fw fa-home"> </i>Home</a>
          <a href="/html/StudyGroup.html"><i class="fa fa-fw fa-search"></i>Search</a>
          <a href="/html/Resources.html"><i class="fa fa-fw fa-envelope"></i>Resources</a>
          <a href="/html/ContactUs.html"><i class="fa fa-fw fa-user"></i>Contact Us</a>
        </div>
        
        <div class="container" onclick="openNav()">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
          <p>MENU</p>
        </div>
      </nav>
    </header>

    <main>
      <h1>PDF Viewer</h1>
      <div class="pdf-container">
        <div class="pdf-content">
          <embed src="/uploads/">
        </div>
      </div>
    </main>
    
    <footer>
      <div class="footer-container">
        <p>&copy; 2023 HiveMind. All rights reserved.</p>
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </footer>
    
    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
      
      function myFunction(x) {
        x.classList.toggle("change");
      }
    </script>
  </body>
</html>
