<!DOCTYPE html>
<html>
<head>
	<title>Profile - HiveMind</title>
	<link rel="stylesheet" type="text/css" href="/css/Profile.css">
</head>
<body>

	<header>
		<a href="/"><h1>HiveMind</h1></a>
    <script src="https://webgazer.cs.brown.edu/webgazer.js" ></script>
    <script>
      webgazer.setGazeListener(function(data, elapsedTime) {
      if (data == null) {
        return;
      }
      var xprediction = data.x; //these x coordinates are relative to the viewport
      var yprediction = data.y; //these y coordinates are relative to the viewport
      console.log(elapsedTime); //elapsed time is based on time since begin was called
    }).begin();
    </script>
		<nav>
            <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <a href="/html/HomePage.html"><i class="fa fa-fw fa-home"> </i>Home</a>
              <a href="/html/StudyGroup.html"><i class="fa fa-fw fa-search"></i>Search</a>
              <a href="/html/Resources.html"><i class="fa fa-fw fa-envelope"></i>Resources</a>
              <a href="/html/ContactUs.html"><i class="fa fa-fw fa-user"></i>Contact Us</a>
            </div>
            
            <div class="container" onclick="openNav()">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
              <p>MENU</p>
            </div>
          </nav>
	</header> 

	<main>
		<div class="Pdf-data">
      <embed src="data:application/pdf;base64, <%= pdf.pdf.toString('base64') %>" width="100%" height="800px" type="application/pdf" />
		</div>
	</main>
  <script>
    var prediction = webgazer.getCurrentPrediction();
if (prediction) {
	var x = prediction.x;
	var y = prediction.y;
  console.log(x, y);
}
  </script>

	<footer>
		<p>&copy; 2023 HiveMind. All Rights Reserved.</p>
	</footer>

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
      
      function myFunction(x) {
        x.classList.toggle("change");
      }
    </script>

</body>
</html>
