<!DOCTYPE html>
<html>
<head>
	<title>Profile - HiveMind</title>
	<link rel="stylesheet" type="text/css" href="/css/Profile.css">
</head>
<body>

	<header>
		<a href="/html/HomePage.html"><h1>HiveMind</h1></a>
		<nav>
			<ul>
				<li><a href="/html/pdf.html">Uploaded Study Material</a></li>

				<li><a href="/html/Dashboard.html">Dashboard</a></li>
				<li><a href="/html/Settings.html">Settings</a></li>
				<li><a href="logout">Log Out</a></li>
=======
				<li><a href="/Dashboard">Dashboard</a></li>
				<li><a href="/Settings">Settings</a></li>
				<li><a href="/logout">Log Out</a></li>
			</ul>
		</nav>
	</header> 

	<main>
		<div class="profile-info">
			<img src="data:image/jpg;base64, <%=img.toString('base64')%>">
			<h3>Name: <%= name %></h3>
			<p>Your Mail ID: <%= username %></p>
			<p>Joined: <%= joinDate %></p>
		</div>
	</main>

	<footer>
		<p>&copy; 2023 HiveMind. All Rights Reserved.</p>
	</footer>

</body>
</html>
