<!DOCTYPE html>
<html>
<head>
	<title>Profile - HiveMind</title>
	<link rel="stylesheet" type="text/css" href="/css/Profile.css">
	<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
</head>
<body>

	<header>
		<a href="/"><img src="/images/logo.jpg"></a>
		<nav>
			<ul>
				<li><a href="/Dashboard">Dashboard</a></li>
				<li><a href="/Settings">Settings</a></li>
				<li><a href="/Logout">LogOut</a></li>
			</ul>
		</nav>
	</header> 

	<main>
		<div class="profile-info">
			<img src="data:image/jpg;base64, <%=img.toString('base64')%>">
			<h3>Name: <%= name %></h3>
			<p>Your Mail ID: <%= username %></p>
			<p>Joined: <%= joinDate %></p>
		</div>
	</main>

	<footer>
		<p>&copy; 2023 HiveMind. All Rights Reserved.</p>
	</footer>

</body>
</html>
