<!DOCTYPE html>
<html>
  <head>
    <title>Quiz - HiveMind</title>
    <link rel="stylesheet" href="/css/quiz.css">
    <link rel="icon" href="/images/logo.jpg" type="image/x-icon">
  </head>
  <body>
    <header>
     
    </header>
    
    <main>
      <h1>Quiz</h1>
      <form id="topic-form">
        <h2>Select a topic:</h2>
        <div>
          <input type="radio" id="topic-math" name="topic" value="maths">
          <label for="topic-math">Math</label>
        </div>
        <div>
          <input type="radio" id="topic-science" name="topic" value="science">
          <label for="topic-science">Science</label>
        </div>
        <div>
          <input type="radio" id="topic-history" name="topic" value="cs">
          <label for="topic-history">Computer Science</label>
        </div>
        <button type="submit">Start Quiz</button>
      </form>
    </main>

    <footer>
      <div class="footer-container">
        <p>&copy; 2023 HiveMind. All rights reserved.</p>
      </div>
    </footer>
    
    <script>
    var form = document.getElementById('topic-form');

    form.addEventListener('submit', function(event) {
      event.preventDefault(); 
      
      var selectedTopic = document.querySelector('input[name="topic"]:checked');
      
      if (selectedTopic) {
        if (selectedTopic.value === 'maths') {
          window.location.href = 'mathsquiz';
        } else if (selectedTopic.value === 'science') {
          window.location.href = 'sciencequiz';
        } else if (selectedTopic.value === 'cs') {
          window.location.href = 'csquiz';
        }
      } else {
        alert('Please select a topic to start the quiz.');
      }
    });
    </script>
  </body>
</html>
