<!DOCTYPE html>
<html>
<head>
	<title>Resources - HiveMind</title>
	<link rel="stylesheet" type="text/css" href="/css/Resources.css">
	<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
</head>
<body>

	<header>
		<a href="/"><img src="/images/logo.jpg"></a>
		<nav>
			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				<a href="/"><i class="fa fa-fw fa-home"> </i>Home</a>
				<a href="/Discussion"><i class="fa fa-fw fa-search"></i>Discussion</a>
				<a href="/html/Youtube_search.html"><i class="fa fa-fw fa-envelope"></i>Search a Video</a>
				<a href="/COntactUs"><i class="fa fa-fw fa-user"></i>Contact Us</a>
			  </div>
			  
			  <div class="container" onclick="openNav()">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
				<p>MENU</p>
			  </div>
		  </nav>
	</header>
	
	<main>
		<ul>
		<li><a href="/html/online_books.html" class="open_books">Search any Book here!</a></li>
		<li><a href="/html/Youtube_search.html" class="open_books">Search any Video here!</a></li>
		</ul>
		<h2>Available Resources</h2>

		<section class="info">
			<h1>Learn HTML &mdash; <a href="" target="_blank">Code The Web</a></h1>
		  </section>
		  <section class="cards-wrapper">
			<div class="card-grid-space">
			  <div class="num">01</div>
			  <a class="card" href="/html/book.html?isbn=9389845033" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
				<div>
				  <h1>Learn Coding</h1>
				  <p>New to coding? Start here and learn programming fundamentals that can be helpful for any language you learn.</p>
				  <div class="date">6 April 2023</div>
				  <div class="tags">
					<div class="tag">HTML</div>
				  </div>
				</div>
			  </a>
			</div>
			<div class="card-grid-space">
			  <div class="num">02</div>
			  <a class="card" href="uploads/Ethics Reference.pdf" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
				<div>
				  <h1>DSA</h1>
				  <p>This tutorial will give you great understanding on Data Structures concepts.</p>
				  <div class="date">9 April 2023</div>
				  <div class="tags">
					<div class="tag">DSA</div>
				  </div>
				</div>
			  </a>
			</div>
			<div class="card-grid-space">
			  <div class="num">03</div>
			  <a class="card" href="uploads/Lecture 7 _Diagrams_ .pdf" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
				<div>
				  <h1>Linear Algebra</h1>
				  <p>Learn linear algebra for free—vectors, matrices, transformations, and more.</p>
				  <div class="date">14 April 2023</div>
				  <div class="tags">
					<div class="tag">L.A.</div>
				  </div>
				</div>
			  </a>
			</div>
			<!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
		  </section>

		<!-- <ul class="resource-list">
			<li>
				<h3>Mathematics</h3>
				<p>Calculus: Early Transcendentals (8th Edition)<br>
				   Linear Algebra and Its Applications (4th Edition)<br>
				   Introduction to Probability (2nd Edition)</p>
			</li>
			<li>
				<h3>Computer Science</h3>
				<p>Introduction to Algorithms (3rd Edition)<br>
				   Database System Concepts (7th Edition)<br>
				   Computer Networks (5th Edition)</p>
			</li>
			<li>
				<h3>Physics</h3>
				<p>University Physics with Modern Physics (14th Edition)<br>
				   The Feynman Lectures on Physics (3 Volume Set)<br>
				   Classical Mechanics (3rd Edition)</p>
			</li>
			<li>
				<h3>Physics</h3>
				<p>University Physics with Modern Physics (14th Edition)<br>
				   The Feynman Lectures on Physics (3 Volume Set)<br>
				   Classical Mechanics (3rd Edition)</p>
			</li>
		</ul>
	</main> -->

	<footer>
		<p>&copy; 2023 HiveMind. All Rights Reserved.</p>
	</footer>
	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
		  }
		  
		  /* Set the width of the side navigation to 0 */
		  function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		  }
		  
		  function myFunction(x) {
			  x.classList.toggle("change");
		}
	</script>

</body>
</html>
