<!DOCTYPE html>
<html>
<head>
  <title>HiveMind - Settings</title>
  <link rel="stylesheet" type="text/css" href="/css/Settings.css">
  <link rel="icon" href="/images/logo.jpg" type="image/x-icon">
</head>
<body>
  <header>
    <a href="/"><img src="/images/logo.jpg" style="width:100px; height:100px;"></a>
    <nav>
      <ul>
        <li><a href="/Dashboard">Dashboard</a></li>
        <li><a href="/Profile">Profile</a></li>
        <li><a href="/ContactUs">Contact Us</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <form action="#" method="POST">
  <div class="profile-pic-div">
    <img src="data:image/jpg;base64, <%=img.toString('base64')%>" id="photo">
    <input type="file" id="img">
    <label for="img" id="uploadBtn">Choose Photo</label>
  </div>
      
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value=<%= name %>>

      <label for="email">Email:</label>
      <input type="email" name="email" id="email" value=<%= username %>>

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" value=<%= password %>>

      <label for="notifications">Notifications:</label>
      <select name="notifications" id="notifications">
        <option value="1">On</option>
        <option value="0">Off</option>
      </select>

      <button type="submit">Save Changes</button>
    </form>
  </main>
  <footer>
    <div class="footer-container">
      <div class="left">
        <p>&copy; 2023 HiveMind. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <script>
const imgDiv = document.querySelector('.profile-pic-div');
const img = document.querySelector('#photo');
const file = document.querySelector('#file');
const uploadBtn = document.querySelector('#uploadBtn');

//if user hover on img div 

imgDiv.addEventListener('mouseenter', function(){
    uploadBtn.style.display = "block";
});

//if we hover out from img div

imgDiv.addEventListener('mouseleave', function(){
    uploadBtn.style.display = "none";
});

file.addEventListener('change', function(){
    //this refers to file
    const choosedFile = this.files[0];

    if (choosedFile) {

        const reader = new FileReader(); 

        reader.addEventListener('load', function(){
            img.setAttribute('src', reader.result);
        });

        reader.readAsDataURL(choosedFile);
    }
});
  </script>
</body>
</html>
