<!DOCTYPE html>
<html>
<head>
	<title>Upload Your Study Materials - HiveMind</title>
	<link rel="stylesheet" type="text/css" href="/css/UploadPage.css">
	<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
</head>
<body>
	<script src = "/javascript/pdf.js" ></script>

	<header>
		<a href="/"><img src="/images/logo.jpg" style="width:100px;height:100px;"></a>
		<nav>
			<ul>
				<li><a href="/Dashboard">Dashboard</a></li>
				<li><a href="/Profile">Profile</a></li>
				<li><a href="/Resources">Resources</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<h2>Upload Your Study Materials</h2>
		<form method="post" action="PdfViewer" enctype="multipart/form-data">
			<label for="title">Title:</label>
			<input type="text" name="title" id="title" required>
			<label for="description">Description:</label>
			<textarea name="description" id="description" rows="5" required></textarea>
			<label for="file">Choose a file to upload:</label>
			<div><input type="file" name="myPdf" id="file" required></div>
			<button type="submit" class="btn" id="Upload">Upload</button>
		</form>
	</main>

	<footer>
		<p>&copy; 2023 HiveMind. All Rights Reserved.</p>
	</footer>

</body>
</html>
