/* Global Styles */

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

a {
	color: #fff;
	text-decoration: none;
}

header {
	background-color: #222;
	color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

nav li {
	list-style: none;
	margin: 0 20px;
}

nav a {
	font-size: 1.2em;
}

main {
	padding: 20px;
}

h2 {
	margin-top: 0;
}

form label {
	display: block;
	margin-bottom: 5px;
}

form input[type="text"], form input[type="email"], form input[type="password"] {
	display: block;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	width: 100%;
}

form input[type="submit"] {
	background-color: #222;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
}

form input[type="submit"]:hover {
	background-color: #444;
}

/* Sign Up Page Styles */

form {
	max-width: 600px;
	margin: 0 auto;
}
